/life_sim.py
/__init__.py
/lifesim/archive/
/archive/
/lifesim/data/*.yaml
/lifesim/data/*.hdf5
/lifesim/gui/Earth_Clear_R1000_10pc_Björn_Konrad.txt
/lifesim/gui/data_creation/ppop_catalog.txt
/lifesim/gui/data_creation/*.yaml
/lifesim/gui/data_creation/*.hdf5
/lifesim/instrument/__pycache__/*.pyc
TestPlanetPopulation.txt
/Figures/*
/plot/*/*.png
/PPop/__pycache__/*
/PPop/AlbedoModels/__pycache__/*.pyc
/PPop/EccentricityModels/__pycache__/*
/PPop/ExozodiModels/__pycache__/*.pyc
/PPop/MassModels/__pycache__/*
/PPop/MassModels/Forecaster/__pycache__/*
/PPop/OrbitModels/__pycache__/*
/PPop/PlanetDistributions/__pycache__/*
/PPop/StabilityModels/__pycache__/*
/PPop/ScalingModels/__pycache__/*
/PPop/StarCatalogs/__pycache__/*
/PPop/Figures/
/PPop/data/*
/run/logging/*/*.txt
/run/lifesim/data/*.hdf5
/run/lifesim/data/*.yaml
/run/lifesim/data/*/*.hdf5
/run/lifesim/data/*/*.yaml
/run/hwo/data/*.csv
/run/hwo/data/*/*.csv
/run/hwo/__pycache__/*.pyc
/run/lifesim/__pycache__/*.pyc
/plot/__pycache__/*.pyc
/plot/*/.DS_Store
/tools/__pycache__/*.pyc
__pycache__/*.pyc
/lifesim/core/__pycache__/*.pyc
/lifesim/util/__pycache__/*.pyc
/lifesim/optimize/__pycache__/*.pyc
/lifesim/gui/__pycache__/*.pyc
/lifesim/__pycache__/*.pyc
/run/ppop/__pycache__/*.pyc
/PPop/__pycache__/*.pyc
/plot/old/*/*.png

/mdwarfs/*
/mdwarfs/*/*
/mdwarfs/*/*/*
/mdwarfs/*/*/*/*
/mdwarfs/*/*/*/*/*
/mdwarfs/*/*/*/*/*/*
/mdwarfs/*/*/*/*/*/*/*
/mdwarfs/*/*/*/*/*/*/*/*
/mdwarfs/*/*/*/*/*/*/*/*/*
/mdwarfs/*/*/*/*/*/*/*/*/*/*
/plot/old/*/*.png
/plot/combined_edited/*